{"openapi":"3.0.1","info":{"contact":{"email":"bkama@atlassian.com"},"description":"Operations APIs for Jira Service Management","title":"JSM Operations API","version":"1"},"servers":[{"url":"https://api.atlassian.com/jsm/ops/","description":"Generated server url"}],"security":[{"basicAuth":[]}],"components":{"securitySchemes":{"basicAuth":{"type":"http","scheme":"basic"},"OAuth2":{"type":"oauth2","description":"OAuth2 Scopes for JSM Operations Rest API","flows":{"authorizationCode":{"authorizationUrl":"https://auth.stg.atlassian.com/authorize","tokenUrl":"https://auth.stg.atlassian.com/oauth/token","scopes":{"read:ops-alert:jira-service-management":"Read Jira Service Management operations alert data","write:ops-alert:jira-service-management":"Create and manage Jira Service Management operations alerts","delete:ops-alert:jira-service-management":"Delete Jira Service Management operations alert","read:ops-config:jira-service-management":"Read Jira Service Management operations configuration","write:ops-config:jira-service-management":"Create and manage Jira Service Management operations configuration","delete:ops-config:jira-service-management":"Delete Jira Service Management operations configuration","read:stakeholder-comms.page:jira-service-management":"Read Jira Service Management stakeholder comms page data","read:stakeholder-comms.component:jira-service-management":"Read Jira Service Management stakeholder comms component data","read:stakeholder-comms.incident:jira-service-management":"Read Jira Service Management stakeholder comms incident data","read:stakeholder-comms.stakeholder:jira-service-management":"Read Jira Service Management stakeholder comms stakeholder data","read:stakeholder-comms.subscriber:jira-service-management":"Read Jira Service Management stakeholder comms subscriber data","read:stakeholder-comms.assignment:jira-service-management":"Read Jira Service Management stakeholder comms assignment data","write:stakeholder-comms.page:jira-service-management":"Create and manage Jira Service Management stakeholder comms pages","write:stakeholder-comms.component:jira-service-management":"Create and manage Jira Service Management stakeholder comms components","write:stakeholder-comms.incident:jira-service-management":"Create and manage Jira Service Management stakeholder comms incidents","write:stakeholder-comms.stakeholder:jira-service-management":"Create and manage Jira Service Management stakeholder comms stakeholders","write:stakeholder-comms.subscriber:jira-service-management":"Create and manage Jira Service Management stakeholder comms subscribers","delete:stakeholder-comms.page:jira-service-management":"Delete Jira Service Management stakeholder comms pages","delete:stakeholder-comms.stakeholder:jira-service-management":"Delete Jira Service Management stakeholder comms stakeholders","delete:stakeholder-comms.subscriber:jira-service-management":"Delete Jira Service Management stakeholder comms subscribers"}}}}},"schemas":{"ErrorResponses":{"type":"object","properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/ErrorResponse"}}}},"ErrorResponse":{"type":"object","properties":{"title":{"type":"string"},"code":{"type":"string"}}},"UnauthorizedErrorResponse":{"type":"object","properties":{"code":{"type":"integer"},"message":{"type":"string"}}},"SchedulePaginationLinks":{"description":"Links for the other pages.","type":"object","properties":{"next":{"type":"string","description":"Link to the next page of results.","example":"/v1/schedules?offset=50&size=25"}}},"CreateRotationRequest":{"required":["startDate","type"],"type":"object","properties":{"name":{"type":"string","description":"Name of the rotation.","example":"Daily rotation"},"startDate":{"type":"string","format":"date-time","description":"Start time of the rotation.","example":"2023-11-10T05:00:00Z"},"endDate":{"type":"string","format":"date-time","description":"End time of the rotation.","example":"2024-04-28T10:00:00Z"},"type":{"type":"string","enum":["daily","weekly","hourly"],"description":"Type of the rotation.","example":"weekly"},"length":{"minimum":1,"default":1,"type":"integer","format":"int32","description":"Length of the rotation based on type.","example":2},"participants":{"type":"array","items":{"$ref":"#/components/schemas/ResponderInfo"},"description":"Participants of the rotation.","example":[{"type":"user","id":"14a994fd-78c6-4236-8b83-d107e5d32d6a"},{"type":"team","id":"2ad4505d-d7a9-4997-8745-c40a3b641573"}]},"timeRestriction":{"oneOf":[{"$ref":"#/components/schemas/TimeOfDayTimeRestrictionRequest"},{"$ref":"#/components/schemas/WeekdayTimeRestrictionRequest"}]}}},"UpdateScheduleRequest":{"type":"object","properties":{"name":{"type":"string","description":"Name of the schedule.","example":"Support Schedule"},"teamId":{"type":"string","description":"ID of the team that schedule belongs to. Set as empty string to change it to global schedule.","example":"cd68207b-c55d-4611-ab25-72fd0c439e9f"},"description":{"type":"string","description":"Description of the schedule.","example":"On-call schedule for support team"},"timezone":{"type":"string","description":"Time zone ID of the schedule.","example":"America/New_York"},"enabled":{"type":"boolean","description":"Indicates whether the schedule is enabled or not.","example":true},"rotations":{"type":"array","items":{"$ref":"#/components/schemas/CreateRotationRequest"}}}},"ErrorResponseList":{"type":"object","properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/SchedulesErrorResponse"}}}},"TimelineRotation":{"type":"object","properties":{"id":{"type":"string","description":"ID of the rotation."},"name":{"type":"string","description":"Name of the rotation."},"order":{"type":"number","format":"float","description":"Order of the rotation. Empty if the rotation has been deleted."},"deleted":{"type":"boolean","description":"Indicates whether the rotation is deleted or not."},"periods":{"type":"array","items":{"$ref":"#/components/schemas/TimelinePeriod"},"description":"List of the on-call periods that belong to the rotation."}}},"UpdateOverrideRequest":{"required":["endDate","responder","startDate"],"type":"object","properties":{"responder":{"$ref":"#/components/schemas/OverrideResponderInfo"},"startDate":{"type":"string","format":"date-time","description":"Start time of the override.","example":"2023-11-27T05:00:00Z"},"endDate":{"type":"string","format":"date-time","description":"End time of the override.","example":"2023-11-28T10:00:00Z"},"rotationIds":{"type":"array","items":{"type":"string"},"description":"IDs of the rotations that the override is applied to. Should be null to apply the override to all rotations.","example":["dec43451-becf-4d2b-99c6-2f98ff2c1eb3","0c829882-7de3-431e-8b64-8edcca7606d8"]}}},"TimeOfDayTimeRestrictionSettings":{"description":"Details of the time restriction. Returned if the type of the time restriction is `time-of-day`.","type":"object","properties":{"startHour":{"maximum":23,"minimum":0,"type":"integer","format":"int32","description":"Start hour of the time restriction.","example":10},"endHour":{"maximum":23,"minimum":0,"type":"integer","format":"int32","description":"End hour of the time restriction.","example":20},"startMin":{"maximum":59,"minimum":0,"type":"integer","format":"int32","description":"Start minute of the time restriction.","example":30},"endMin":{"maximum":59,"minimum":0,"type":"integer","format":"int32","description":"End minute of the time restriction.","example":0}}},"WeekdayTimeRestrictionSettings":{"type":"object","properties":{"startDay":{"type":"string","enum":["monday","tuesday","wednesday","thursday","friday","saturday","sunday"],"description":"Start day of the time restriction."},"endDay":{"type":"string","enum":["monday","tuesday","wednesday","thursday","friday","saturday","sunday"],"description":"End day of the time restriction."},"startHour":{"maximum":23,"minimum":0,"type":"integer","format":"int32","description":"Start hour of the time restriction."},"endHour":{"maximum":23,"minimum":0,"type":"integer","format":"int32","description":"End hour of the time restriction."},"startMin":{"maximum":59,"minimum":0,"type":"integer","format":"int32","description":"Start minute of the time restriction."},"endMin":{"maximum":59,"minimum":0,"type":"integer","format":"int32","description":"End minute of the time restriction."}}},"CreateScheduleRequest":{"required":["name"],"type":"object","properties":{"name":{"type":"string","description":"Name of the schedule. Cannot be empty.","example":"Support Schedule"},"teamId":{"type":"string","description":"ID of the team that schedule belongs to.","example":"cd68207b-c55d-4611-ab25-72fd0c439e9f"},"description":{"type":"string","description":"Description of the schedule.","example":"On-call schedule for support team"},"timezone":{"type":"string","default":"America/New_York","description":"Time zone ID of the schedule.","example":"America/New_York"},"enabled":{"type":"boolean","default":true,"description":"Indicates whether the schedule is enabled or not.","example":true},"rotations":{"minItems":1,"maxItems":500,"type":"array","items":{"$ref":"#/components/schemas/CreateRotationRequest"},"description":"Rotation details of the schedule."}}},"WeekdayTimeRestrictionRequest":{"description":"Time restrictions of the rotation.","required":["type"],"type":"object","properties":{"type":{"type":"string","default":"weekday-and-time-of-day","description":"Type of the time restriction.","example":"time-of-day"},"restrictions":{"type":"array","items":{"$ref":"#/components/schemas/WeekdayTimeRestrictionSettingsRequest"},"example":null}}},"OnCallParticipants":{"type":"object","description":"Details of the on-call participants. Returned only `flat=false` is sent in the request.","properties":{"onCallParticipants":{"type":"array","items":{"$ref":"#/components/schemas/OnCallParticipant"}}}},"TimeOfDayTimeRestrictionRequest":{"description":"Time restrictions of the rotation.","required":["type"],"type":"object","properties":{"type":{"type":"string","default":"time-of-day","description":"Type of the time restriction.","example":"time-of-day"},"restriction":{"$ref":"#/components/schemas/TimeOfDayTimeRestrictionSettingsRequest"}}},"CreateOverrideRequest":{"required":["endDate","responder","startDate"],"type":"object","properties":{"responder":{"$ref":"#/components/schemas/OverrideResponderInfo"},"startDate":{"type":"string","format":"date-time","description":"Start time of the override.","example":"2023-11-27T05:00:00Z"},"endDate":{"type":"string","format":"date-time","description":"End time of the override.","example":"2023-11-28T10:00:00Z"},"rotationIds":{"type":"array","items":{"type":"string"},"description":"IDs of the rotations that this override is applied to. Should be null to apply override to all rotations.","example":["dec43451-becf-4d2b-99c6-2f98ff2c1eb3","0c829882-7de3-431e-8b64-8edcca7606d8"]}}},"WeekdayTimeRestriction":{"type":"object","properties":{"type":{"type":"string","default":"weekday-and-time-of-day","description":"Type of the time restriction."},"restrictions":{"type":"array","items":{"$ref":"#/components/schemas/WeekdayTimeRestrictionSettings"},"description":"Details of the time restriction. Returned if the type of the time restriction is `weekday-and-time-of-day`."}}},"TimelinePeriod":{"type":"object","properties":{"startDate":{"type":"string","format":"date-time","description":"Start time of the on-call period."},"endDate":{"type":"string","format":"date-time","description":"End time of the on-call period."},"type":{"type":"string","enum":["base","override","forwarding","historical"],"description":"Type of the on-call period."},"from":{"$ref":"#/components/schemas/ForwardingResponder"},"responder":{"$ref":"#/components/schemas/TimelineResponder"},"flattenedResponders":{"type":"array","items":{"$ref":"#/components/schemas/TimelineResponder"},"description":"List of the flattened responders of the on-call period."}}},"ListSchedulesResponse":{"type":"object","properties":{"values":{"type":"array","items":{"$ref":"#/components/schemas/Schedule"},"description":"List of the schedules."},"links":{"$ref":"#/components/schemas/SchedulePaginationLinks"},"_expands":{"type":"array","items":{"type":"string"},"description":"List of all possible expansions.","example":["rotation"]}}},"ForwardingResponder":{"description":"Information of the forwarding user.","type":"object","properties":{"id":{"type":"string","description":"ID of the responder.","example":"15b35ada-89be-4e79-b9e8-509f6f25bb42"},"type":{"type":"string","enum":["user"],"description":"Type of the responder.","example":"user"},"deleted":{"type":"boolean","description":"Indicates whether the responder is deleted or not.","example":false}}},"OnCallResponse":{"type":"object","example":{"onCallParticipants":[{"id":"bc667897-cb21-496f-a46e-7c05ff0419dd","type":"team"},{"id":"5b2b0e011b3a756623f4e25e","type":"user"},{"id":"7a24e9d7-7a4f-4f86-a1df-21ca9c3112ac","type":"escalation","onCallParticipants":[{"id":"5b2b0e011b3a756623f4e25e","type":"user","forwardedFrom":{"id":"c5646941-3f05-404d-8594-825fa73af99f","type":"user"}}]}]},"oneOf":[{"$ref":"#/components/schemas/OnCallParticipants"},{"$ref":"#/components/schemas/OnCallUsers"}]},"NextOnCallParticipants":{"type":"object","description":"Details of the next on-call participants. Returned only `flat=false` is sent in the request.","properties":{"nextOnCallParticipants":{"type":"array","items":{"$ref":"#/components/schemas/OnCallParticipant"}}}},"UpdateRotationRequest":{"type":"object","properties":{"name":{"type":"string","description":"Name of the rotation.","example":"Daily rotation"},"startDate":{"type":"string","format":"date-time","description":"Start time of the rotation.","example":"2023-11-10T05:00:00Z"},"endDate":{"type":"string","format":"date-time","description":"End time of the rotation.","example":"2024-04-28T10:00:00Z"},"type":{"type":"string","enum":["daily","weekly","hourly"],"description":"Type of the rotation.","example":"weekly"},"length":{"minimum":1,"default":1,"type":"integer","format":"int32","description":"Length of the rotation based on type.","example":2},"participants":{"type":"array","items":{"$ref":"#/components/schemas/ResponderInfo"},"description":"Participants of the rotation.","example":[{"type":"user","id":"14a994fd-78c6-4236-8b83-d107e5d32d6a"},{"type":"team","id":"2ad4505d-d7a9-4997-8745-c40a3b641573"}]},"timeRestriction":{"oneOf":[{"$ref":"#/components/schemas/TimeOfDayTimeRestrictionRequest"},{"$ref":"#/components/schemas/WeekdayTimeRestrictionRequest"}]}}},"ListOverridesResponse":{"type":"object","properties":{"values":{"type":"array","items":{"$ref":"#/components/schemas/Override"}},"links":{"$ref":"#/components/schemas/OverridePaginationLinks"}}},"SchedulesErrorResponse":{"type":"object","properties":{"title":{"type":"string"},"code":{"type":"string"}}},"OnCallParticipant":{"type":"object","properties":{"id":{"type":"string","description":"ID of the on-call participant."},"type":{"type":"string","description":"Type of the on-call participant."},"onCallParticipants":{"type":"array","items":{"$ref":"#/components/schemas/OnCallParticipant"},"description":"List of the flattened participants of the participant."},"forwardedFrom":{"description":"The details of the forwarding participant. Only set if the participant is on-call because of another participant that has forwarding to current participant.","allOf":[{"$ref":"#/components/schemas/OnCallParticipant"}]}}},"TimelineResponder":{"description":"The responder of the on-call period.","type":"object","properties":{"id":{"type":"string","description":"ID of the responder."},"type":{"type":"string","enum":["user","team","escalation","noone"],"description":"Type of the responder."},"deleted":{"type":"boolean","description":"Indicates whether the responder is deleted or not."}}},"Override":{"type":"object","properties":{"alias":{"type":"string","description":"Alias of the override.","example":"c73c3ffa-dcc3-4f28-ad13-d150ec108fc9"},"responder":{"$ref":"#/components/schemas/OverrideResponderInfo"},"startDate":{"type":"string","format":"date-time","description":"Start time of the override.","example":"2023-11-27T05:00:00Z"},"endDate":{"type":"string","format":"date-time","description":"End time of the override.","example":"2023-11-28T10:00:00Z"},"rotationIds":{"type":"array","items":{"type":"string"},"description":"IDs of the rotations that override applies to. Null if no rotation is specified during override creation.","example":["dec43451-becf-4d2b-99c6-2f98ff2c1eb3","0c829882-7de3-431e-8b64-8edcca7606d8"]}}},"NextOnCallResponse":{"type":"object","example":{"nextOnCallParticipants":[{"id":"bc667897-cb21-496f-a46e-7c05ff0419dd","type":"team"},{"id":"5b2b0e011b3a756623f4e25e","type":"user"},{"id":"7a24e9d7-7a4f-4f86-a1df-21ca9c3112ac","type":"escalation","nextOnCallParticipants":[{"id":"5b2b0e011b3a756623f4e25e","type":"user","forwardedFrom":{"id":"c5646941-3f05-404d-8594-825fa73af99f","type":"user"}}]}]},"oneOf":[{"$ref":"#/components/schemas/NextOnCallParticipants"},{"$ref":"#/components/schemas/NextOnCallUsers"}]},"ScheduleTimelineResponse":{"type":"object","example":{"startDate":"2024-01-29T00:00:00Z","endDate":"2024-02-12T00:00:00Z","finalTimeline":{"rotations":[{"id":"072cb9c1-698e-49fa-b1dc-1e8c190a76a6","name":"Primary Rotation","order":1,"deleted":false,"periods":[{"startDate":"2024-01-29T00:00:00Z","endDate":"2024-02-01T08:11:21.263Z","type":"historical","responder":{"id":"153c98d1-ca2c-44d8-b8ea-10280f7c2c75","type":"team"},"flattenedResponders":[{"id":"153c98d1-ca2c-44d8-b8ea-10280f7c2c75","type":"team"}]},{"startDate":"2024-02-01T08:11:21.263Z","endDate":"2024-02-01T08:12:19.866Z","type":"historical","responder":{"id":"5b2b0e011b3a756623f4e25e","type":"user"},"flattenedResponders":[{"id":"5b2b0e011b3a756623f4e25e","type":"user"}]},{"startDate":"2024-02-01T08:12:19.866Z","endDate":"2024-02-02T00:00:00Z","type":"override","responder":{"id":"5b2b0e011b3a756623f4e25e","type":"user"}},{"startDate":"2024-02-02T00:00:00Z","endDate":"2024-02-03T07:00:00Z","type":"base","responder":{"id":"153c98d1-ca2c-44d8-b8ea-10280f7c2c75","type":"team"}},{"startDate":"2024-02-03T07:00:00Z","endDate":"2024-02-05T21:00:00Z","type":"base","responder":{"id":"5b2b0e011b3a756623f4e25e","type":"user"}},{"startDate":"2024-02-05T21:00:00Z","endDate":"2024-02-06T21:00:00Z","type":"forwarding","from":{"id":"40973cb0-6990-4997-aac3-46f8a6031f0f","type":"user","deleted":false},"responder":{"id":"e75fed1b-4234-45bc-b5b3-b936979f3cc0","type":"user"}},{"startDate":"2024-02-06T21:00:00Z","endDate":"2024-02-10T07:00:00Z","type":"base","responder":{"id":"5b2b0e011b3a756623f4e25e","type":"user"}},{"startDate":"2024-02-10T07:00:00Z","endDate":"2024-02-12T00:00:00Z","type":"base","responder":{"id":"153c98d1-ca2c-44d8-b8ea-10280f7c2c75","type":"team"}}]},{"id":"18b6b7e7-b83b-4b18-81c2-e3f7ceb9ef7b","name":"Secondary Rotation","order":4,"deleted":false,"periods":[{"startDate":"2024-01-29T00:00:00Z","endDate":"2024-02-01T07:00:00Z","type":"historical","responder":{"id":"ab73148c-afa6-4604-ae04-7dc5daea6c8b","type":"escalation"},"flattenedResponders":[{"id":"e75fed1b-4234-45bc-b5b3-b936979f3cc0","type":"user"},{"id":"5b2b0e011b3a756623f4e25e","type":"user"}]},{"startDate":"2024-02-01T07:00:00Z","endDate":"2024-02-01T08:12:19.866Z","type":"historical","responder":{"id":"5b2b0e011b3a756623f4e25e","type":"user"},"flattenedResponders":[{"id":"5b2b0e011b3a756623f4e25e","type":"user"}]},{"startDate":"2024-02-01T08:12:19.866Z","endDate":"2024-02-04T00:00:00Z","type":"base","responder":{"id":"5b2b0e011b3a756623f4e25e","type":"user"}},{"startDate":"2024-02-04T00:00:00Z","endDate":"2024-02-05T00:00:00Z","type":"override","responder":{"id":"e75fed1b-4234-45bc-b5b3-b936979f3cc0","type":"user"}},{"startDate":"2024-02-05T00:00:00Z","endDate":"2024-02-05T21:00:00Z","type":"base","responder":{"id":"5b2b0e011b3a756623f4e25e","type":"user"}},{"startDate":"2024-02-05T21:00:00Z","endDate":"2024-02-06T21:00:00Z","type":"forwarding","from":{"id":"40973cb0-6990-4997-aac3-46f8a6031f0f","type":"user","deleted":false},"responder":{"id":"e75fed1b-4234-45bc-b5b3-b936979f3cc0","type":"user"}},{"startDate":"2024-02-06T21:00:00Z","endDate":"2024-02-12T00:00:00Z","type":"base","responder":{"id":"5b2b0e011b3a756623f4e25e","type":"user"}}]},{"id":"9625a842-18b0-464f-8d6e-b5ea33af8a13","name":"Backup Rotation","order":null,"deleted":true,"periods":[{"startDate":"2024-01-29T00:00:00Z","endDate":"2024-01-29T12:00:00Z","type":"historical","responder":{"type":"noone"}},{"startDate":"2024-01-29T12:00:00Z","endDate":"2024-01-30T12:00:00Z","type":"historical","responder":{"id":"ab73148c-afa6-4604-ae04-7dc5daea6c8b","type":"escalation"},"flattenedResponders":[{"id":"e75fed1b-4234-45bc-b5b3-b936979f3cc0","type":"user"},{"id":"5b2b0e011b3a756623f4e25e","type":"user"}]},{"startDate":"2024-01-30T12:00:00Z","endDate":"2024-01-31T12:00:00Z","type":"historical","responder":{"type":"noone"}},{"startDate":"2024-01-31T12:00:00Z","endDate":"2024-02-01T07:59:12.993Z","type":"historical","responder":{"id":"ab73148c-afa6-4604-ae04-7dc5daea6c8b","type":"escalation"},"flattenedResponders":[{"id":"e75fed1b-4234-45bc-b5b3-b936979f3cc0","type":"user"},{"id":"5b2b0e011b3a756623f4e25e","type":"user"}]}]},{"id":"2adfb43b-dfdf-455d-9e67-6bd4cce76d11","name":"Old Rotation","order":null,"deleted":true,"periods":[{"startDate":"2024-01-29T08:00:00Z","endDate":"2024-01-30T18:30:00Z","type":"historical","responder":{"type":"noone"}},{"startDate":"2024-01-31T09:00:00Z","endDate":"2024-02-01T07:59:17.791Z","type":"historical","responder":{"type":"noone"}}]}]},"baseTimeline":{"rotations":[{"id":"072cb9c1-698e-49fa-b1dc-1e8c190a76a6","name":"Primary Rotation","order":1,"deleted":false,"periods":[{"startDate":"2024-01-29T00:00:00Z","endDate":"2024-02-03T07:00:00Z","type":"base","responder":{"id":"153c98d1-ca2c-44d8-b8ea-10280f7c2c75","type":"team"}},{"startDate":"2024-02-03T07:00:00Z","endDate":"2024-02-10T07:00:00Z","type":"base","responder":{"id":"5b2b0e011b3a756623f4e25e","type":"user"}},{"startDate":"2024-02-10T07:00:00Z","endDate":"2024-02-12T00:00:00Z","type":"base","responder":{"id":"153c98d1-ca2c-44d8-b8ea-10280f7c2c75","type":"team"}}]},{"id":"18b6b7e7-b83b-4b18-81c2-e3f7ceb9ef7b","name":"Secondary Rotation","order":4,"deleted":false,"periods":[{"startDate":"2024-01-29T00:00:00Z","endDate":"2024-02-01T07:00:00Z","type":"base","responder":{"id":"ab73148c-afa6-4604-ae04-7dc5daea6c8b","type":"escalation"}},{"startDate":"2024-02-01T07:00:00Z","endDate":"2024-02-12T00:00:00Z","type":"base","responder":{"id":"5b2b0e011b3a756623f4e25e","type":"user"}}]}]},"overrideTimeline":{"rotations":[{"id":"072cb9c1-698e-49fa-b1dc-1e8c190a76a6","name":"Primary Rotation","order":1,"deleted":false,"periods":[{"startDate":"2024-02-01T08:11:21.263Z","endDate":"2024-02-02T00:00:00Z","type":"override","responder":{"id":"5b2b0e011b3a756623f4e25e","type":"user"}}]},{"id":"18b6b7e7-b83b-4b18-81c2-e3f7ceb9ef7b","name":"Secondary Rotation","order":4,"deleted":false,"periods":[{"startDate":"2024-02-04T00:00:00Z","endDate":"2024-02-05T00:00:00Z","type":"override","responder":{"id":"e75fed1b-4234-45bc-b5b3-b936979f3cc0","type":"user"}}]}]},"forwardingTimeline":{"rotations":[{"id":"072cb9c1-698e-49fa-b1dc-1e8c190a76a6","name":"Primary Rotation","order":1,"deleted":false,"periods":[{"startDate":"2024-02-05T21:00:00Z","endDate":"2024-02-06T21:00:00Z","type":"forwarding","from":{"id":"40973cb0-6990-4997-aac3-46f8a6031f0f","type":"user","deleted":false},"responder":{"id":"e75fed1b-4234-45bc-b5b3-b936979f3cc0","type":"user"}}]},{"id":"18b6b7e7-b83b-4b18-81c2-e3f7ceb9ef7b","name":"Secondary Rotation","order":4,"deleted":false,"periods":[{"startDate":"2024-02-05T21:00:00Z","endDate":"2024-02-06T21:00:00Z","type":"forwarding","from":{"id":"40973cb0-6990-4997-aac3-46f8a6031f0f","type":"user","deleted":false},"responder":{"id":"e75fed1b-4234-45bc-b5b3-b936979f3cc0","type":"user"}}]}]},"_expands":["base","forwarding","override"]},"properties":{"startDate":{"type":"string","format":"date-time","description":"Start time of the timeline.","example":"2023-11-01T00:00:00Z"},"endDate":{"type":"string","format":"date-time","description":"End time of the timeline.","example":"2023-12-01T00:00:00Z"},"finalTimeline":{"description":"Timeline for the final layer.","allOf":[{"$ref":"#/components/schemas/Timeline"}]},"baseTimeline":{"description":"Timeline for the base layer. Returned only if the `base` expansion is requested.","allOf":[{"$ref":"#/components/schemas/Timeline"}]},"overrideTimeline":{"description":"Timeline for the override layer. Returned only if the `override` expansion is requested.","allOf":[{"$ref":"#/components/schemas/Timeline"}]},"forwardingTimeline":{"description":"Timeline for the forwarding layer. Returned only if the `forwarding` expansion is requested.","allOf":[{"$ref":"#/components/schemas/Timeline"}]},"_expands":{"type":"array","items":{"type":"string"},"description":"List of all possible expansions."}}},"OnCallUsers":{"type":"object","description":"User IDs of the on-call participants. Returned only `flat=true` is sent in the request.","properties":{"onCallUsers":{"type":"array","items":{"type":"string"}}}},"NextOnCallUsers":{"type":"object","description":"User IDs of the next on-call participants. Returned only `flat=true` is sent in the request.","properties":{"nextOnCallUsers":{"type":"array","items":{"type":"string"}}}},"RotationPaginationLinks":{"description":"Links for the other pages.","type":"object","properties":{"next":{"type":"string","description":"Link to the next page of results.","example":"/v1/schedules/f8f2a4ec-54b2-4513-865b-8cb3b81c9544/rotations?offset=50&size=25"}}},"Rotation":{"type":"object","properties":{"id":{"type":"string","description":"ID of the rotation.","example":"3ce33f53-69be-4b92-8d34-a1df0efe642e"},"name":{"type":"string","description":"Name of the rotation.","example":"Daily rotation"},"startDate":{"type":"string","format":"date-time","description":"Start time of the rotation.","example":"2023-11-10T05:00:00Z"},"endDate":{"type":"string","format":"date-time","description":"End time of the rotation.","example":"2024-04-28T10:00:00Z"},"type":{"type":"string","enum":["daily","weekly","hourly"],"description":"Type of the rotation.","example":"weekly"},"length":{"type":"integer","format":"int32","description":"Length of the rotation based on type.","example":2},"participants":{"type":"array","items":{"$ref":"#/components/schemas/ResponderInfo"},"description":"List of participants of the rotation.","example":[{"type":"user","id":"14a994fd-78c6-4236-8b83-d107e5d32d6a"},{"type":"team","id":"2ad4505d-d7a9-4997-8745-c40a3b641573"}]},"timeRestriction":{"oneOf":[{"$ref":"#/components/schemas/TimeOfDayTimeRestriction"},{"$ref":"#/components/schemas/WeekdayTimeRestriction"}]}}},"TimeOfDayTimeRestrictionSettingsRequest":{"required":["endHour","endMin","startHour","startMin"],"type":"object","properties":{"startHour":{"maximum":23,"minimum":0,"type":"integer","format":"int32","description":"Start hour of the time restriction.","example":10},"endHour":{"maximum":23,"minimum":0,"type":"integer","format":"int32","description":"End hour of the time restriction.","example":20},"startMin":{"maximum":59,"minimum":0,"type":"integer","format":"int32","description":"Start minute of the time restriction.","example":30},"endMin":{"maximum":59,"minimum":0,"type":"integer","format":"int32","description":"End minute of the time restriction.","example":0}}},"OverrideResponderInfo":{"description":"Responder that takes on-call via the override.","required":["type"],"type":"object","properties":{"type":{"type":"string","enum":["user","noone"],"description":"Type of the responder.","example":"user"},"id":{"type":"string","description":"ID of the responder. Null if the type is `noone`.","example":"1626a3a7-e159-45e0-b067-b99210917b16"}}},"Timeline":{"description":"Timeline details for the layer.","type":"object","properties":{"rotations":{"type":"array","items":{"$ref":"#/components/schemas/TimelineRotation"}}}},"OverridePaginationLinks":{"description":"Links for the other pages.","type":"object","properties":{"next":{"type":"string","description":"Link to the next page of results.","example":"/v1/schedules/f8f2a4ec-54b2-4513-865b-8cb3b81c9544/overrides?offset=50&size=25"}}},"Schedule":{"type":"object","properties":{"id":{"type":"string","description":"ID of the schedule.","example":"f8f2a4ec-54b2-4513-865b-8cb3b81c9544"},"name":{"type":"string","description":"Name of the schedule.","example":"Support Schedule"},"description":{"type":"string","description":"Description of the schedule.","example":"On-call schedule for support team"},"timezone":{"type":"string","description":"Time zone ID of the schedule.","example":"America/New_York"},"enabled":{"type":"boolean","description":"Indicates whether the schedule is enabled or not.","example":true},"teamId":{"type":"string","description":"ID of the team that schedule belongs to.","example":"cd68207b-c55d-4611-ab25-72fd0c439e9f"},"rotations":{"type":"array","items":{"$ref":"#/components/schemas/Rotation"},"description":"Rotation details of the schedule."}}},"ListRotationsResponse":{"type":"object","properties":{"values":{"type":"array","items":{"$ref":"#/components/schemas/Rotation"}},"links":{"$ref":"#/components/schemas/RotationPaginationLinks"}}},"WeekdayTimeRestrictionSettingsRequest":{"required":["endDay","endHour","endMin","startDay","startHour","startMin"],"type":"object","properties":{"startDay":{"type":"string","enum":["monday","tuesday","wednesday","thursday","friday","saturday","sunday"],"description":"Start day of the time restriction."},"endDay":{"type":"string","enum":["monday","tuesday","wednesday","thursday","friday","saturday","sunday"],"description":"End day of the time restriction."},"startHour":{"maximum":23,"minimum":0,"type":"integer","format":"int32","description":"Start hour of the time restriction."},"endHour":{"maximum":23,"minimum":0,"type":"integer","format":"int32","description":"End hour of the time restriction."},"startMin":{"maximum":59,"minimum":0,"type":"integer","format":"int32","description":"Start minute of the time restriction."},"endMin":{"maximum":59,"minimum":0,"type":"integer","format":"int32","description":"End minute of the time restriction."}}},"ResponderInfo":{"required":["type"],"type":"object","properties":{"type":{"type":"string","enum":["user","team","escalation","noone"],"description":"Type of the responder.","example":"user"},"id":{"type":"string","description":"ID of the responder. Null if the type is `noone`.","example":"14a994fd-78c6-4236-8b83-d107e5d32d6a"}}},"TimeOfDayTimeRestriction":{"type":"object","properties":{"type":{"type":"string","default":"time-of-day","description":"Type of the time restriction.","example":"time-of-day"},"restriction":{"$ref":"#/components/schemas/TimeOfDayTimeRestrictionSettings"}}},"EscalationLinks":{"type":"object","properties":{"next":{"type":"string","description":"Link to the next page of results."}},"example":{"next":"/v1/teams/77b933c9-92bb-46e7-a73c-764b8d7c3c25/escalations?offset=10&size=5"}},"EscalationRuleResponse":{"type":"object","properties":{"condition":{"type":"string","description":"The condition for notifying the recipient of escalation rule that is based on the alert state.","enum":["if-not-acked","if-not-closed"]},"notifyType":{"type":"string","description":"Recipient calculation logic for escalations. Possible values are: <br /> <b>default</b>: on call users <br /> <b>next</b>: next users in rotation <br /> <b>previous</b>: previous users on rotation <br /> <b>users</b>: users of the team <br /> <b>admins</b>: admins of the team <br /> <b>random</b>: randomly in the team <br /> <b>all</b>: all members of the team.","enum":["default","next","previous","users","admins","all","random"]},"delay":{"description":"Time delay of the escalation rule in minutes.","type":"integer","format":"int64","minimum":1,"example":5},"recipient":{"type":"object","description":"Object of schedule, team, or users which will be notified in escalation.","properties":{"id":{"type":"string"},"type":{"type":"string","enum":["user","schedule","team"]}},"example":{"id":"f0f07a3d-bde8-4b2a-8d3e-f97020a51e32","type":"team"},"discriminator":{"propertyName":"type"}}}},"EscalationResponse":{"type":"object","properties":{"id":{"type":"string","description":"Identifier of the escalation.","example":"69291859-ed73-4396-8b74-c61a3c810cdf"},"name":{"description":"Name of the escalation.","type":"string","example":"FE Daily On-call Escalation"},"description":{"description":"Description of the escalation.","type":"string","example":"Your primary responsibilities include handling unexpected incidents that impact the functionality or performance of the frontend"},"rules":{"description":"List of the escalation rules.","type":"array","items":{"$ref":"#/components/schemas/EscalationRuleResponse"}},"enabled":{"type":"boolean"},"repeat":{"$ref":"#/components/schemas/EscalationRepeat"}}},"CreateEscalationRequest":{"required":["name","rules"],"type":"object","properties":{"name":{"type":"string","description":"Name of the escalation.","example":"FE Daily On-call Escalation","maximum":100},"description":{"type":"string","description":"Description of the escalation.","example":"","maximum":200},"rules":{"type":"array","description":"List of the escalation rules.","items":{"$ref":"#/components/schemas/EscalationRule"}},"enabled":{"type":"boolean","default":true},"repeat":{"$ref":"#/components/schemas/EscalationRepeat"}}},"Recipient":{"required":["type"],"type":"object","description":"Object of schedule, team, or users which will be notified in escalation.","properties":{"id":{"type":"string"},"type":{"type":"string","enum":["user","schedule","team"]}},"example":{"id":"f0f07a3d-bde8-4b2a-8d3e-f97020a51e32","type":"team"},"discriminator":{"propertyName":"type"}},"EscalationRule":{"required":["condition","delay","notifyType","recipient"],"type":"object","properties":{"condition":{"type":"string","description":"The condition for notifying the recipient of escalation rule that is based on the alert state.","enum":["if-not-acked","if-not-closed"]},"notifyType":{"type":"string","description":"Recipient calculation logic for escalations. Possible values are: <br /> <b>default</b>: on call users <br /> <b>next</b>: next users in rotation <br /> <b>previous</b>: previous users on rotation <br /> <b>users</b>: users of the team <br /> <b>admins</b>: admins of the team <br /> <b>random</b>: randomly in the team <br /> <b>all</b>: all members of the team.","enum":["default","next","previous","users","admins","all","random"]},"delay":{"description":"Time delay of the escalation rule in minutes.","type":"integer","format":"int64","minimum":1,"example":5},"recipient":{"$ref":"#/components/schemas/Recipient"}}},"UpdateEscalationRequest":{"type":"object","properties":{"name":{"type":"string","description":"Name of the escalation.","example":"FE Daily On-call Escalation","maximum":100},"description":{"type":"string","description":"Description of the escalation.","example":"","maximum":200},"rules":{"type":"array","description":"List of the escalation rules.","items":{"$ref":"#/components/schemas/EscalationRule"}},"enabled":{"type":"boolean","default":true},"repeat":{"$ref":"#/components/schemas/EscalationRepeat"}}},"EscalationPaginatedResponse":{"type":"object","properties":{"values":{"type":"array","items":{"$ref":"#/components/schemas/EscalationResponse"}},"links":{"$ref":"#/components/schemas/EscalationLinks"}}},"EscalationRepeat":{"type":"object","description":"Repeat preferences of the escalation including repeat interval, count, reverting acknowledge and seen states back and closing an alert automatically as soon as repeats are completed.","properties":{"waitInterval":{"description":"The duration in minutes to repeat the escalation rules after processing the last escalation rule. It is mandatory if you would like to add or remove repeat option. 0 should be given as a value to disable repeat option.","minimum":0,"type":"integer","format":"int32","default":0,"example":10},"count":{"description":"Repeat time indicating how many times the repeat action will be performed.","maximum":20,"minimum":1,"default":1,"type":"integer","format":"int32","example":5},"resetRecipientStates":{"description":"It is for reverting <b>acknowledge</b> and <b>seen</b> states back on each repeat turn if an alert is not closed.","type":"boolean","default":false},"closeAlertAfterAll":{"description":"It is to close the alert automatically if escalation repeats are completed.","type":"boolean","default":false}}},"TeamAlertPolicyPaginatedResponse":{"type":"object","properties":{"values":{"type":"array","items":{"$ref":"#/components/schemas/PolicyListResponse"}},"links":{"$ref":"#/components/schemas/TeamAlertPolicyLinks"}}},"TeamNotificationPolicyPaginatedResponse":{"type":"object","properties":{"values":{"type":"array","items":{"$ref":"#/components/schemas/NotificationPolicyListResponse"}},"links":{"$ref":"#/components/schemas/TeamNotificationPolicyLinks"}}},"GlobalPolicyPaginatedResponse":{"type":"object","properties":{"values":{"type":"array","items":{"$ref":"#/components/schemas/PolicyListResponse"}},"links":{"$ref":"#/components/schemas/GlobalPolicyLinks"}}},"PolicyListResponse":{"type":"object","properties":{"type":{"type":"string","description":"type of policy","example":"alert"},"id":{"type":"string","description":"Identifier of the policy.","example":"69291859-ed73-4396-8b74-c61a3c810cdf"},"name":{"description":"Name of the policy.","type":"string","example":"FE Daily On-call Policy"},"enabled":{"type":"boolean","example":false},"order":{"type":"integer","format":"int32","example":1}}},"NotificationPolicyListResponse":{"type":"object","properties":{"type":{"type":"string","description":"type of policy","example":"alert"},"id":{"type":"string","description":"Identifier of the policy.","example":"69291859-ed73-4396-8b74-c61a3c810cdf"},"name":{"description":"Name of the policy.","type":"string","example":"FE Daily On-call Policy"},"enabled":{"type":"boolean","example":false},"order":{"type":"integer","format":"int32","example":1}}},"GlobalPolicyLinks":{"type":"object","properties":{"next":{"type":"string","description":"Link to the next page of results."}},"example":{"next":"/v1/alerts/policies?offset=1&size=1"}},"TeamAlertPolicyLinks":{"type":"object","properties":{"next":{"type":"string","description":"Link to the next page of results."}},"example":{"next":"/v1/teams/{teamId}/policies?offset=1&size=1&type=alert"}},"TeamNotificationPolicyLinks":{"type":"object","properties":{"next":{"type":"string","description":"Link to the next page of results."}},"example":{"next":"/v1/teams/{teamId}/policies?offset=1&size=1&type=notification"}},"CreateGlobalPolicyRequest":{"type":"object","required":["type","name","enabled","message"],"properties":{"type":{"type":"string","example":"alert","description":"this can be only alert for global policies"},"name":{"type":"string","example":"policy for dynamoDB","description":"Name of the policy"},"description":{"type":"string","example":"policy desc","description":"Description of the policy"},"enabled":{"type":"boolean","example":true,"description":"Initial status of the integration."},"filter":{"description":"Conditions specified in this field must be met for this policy to work.","required":["type","conditions"],"properties":{"type":{"type":"string","enum":["match-all","match-any-condition","match-all-conditions"],"example":"match-any-condition"},"conditions":{"description":"List of conditions will be checked before applying policy","type":"array","items":{"type":"object","properties":{"field":{"type":"string","example":"message","description":"Specifies which alert field will be used in condition. Possible values are message,  alias, description, source, entity, tags, actions, details, extra-properties, responders, teams  or priority"},"not":{"type":"boolean","example":false,"description":"Indicates behaviour of the given operation. Default value is false"},"operation":{"type":"string","example":"contains","description":"It is the operation that will be executed for the given field and key. Possible  operations are matches, contains, starts-with, ends-with, equals, contains-key, contains-value,    greater-than, less-than, is-empty and equals-ignore-whitespace."},"expectedValue":{"type":"string","example":"asd","description":"User defined value that will be compared with alert field according to the operation. Default value is empty string"},"order":{"type":"number","example":0,"description":"Order of the condition in conditions list"}}}}},"type":"object"},"timeRestriction":{"required":["enabled","timeRestrictions","appliedTimeZone"],"properties":{"enabled":{"type":"boolean","example":true},"timeRestrictions":{"type":"array","items":{"type":"object","properties":{"startHour":{"type":"number","example":0},"startMinute":{"type":"number","example":0},"endHour":{"type":"number","example":1},"endMinute":{"type":"number","example":0}}}},"appliedTimeZone":{"type":"string","example":"(GMT+03:00) Europe/Istanbul TRT"}},"type":"object"},"alias":{"type":"string","example":"{{alias}}","description":"Alias of the alert. You can use {{alias}} to refer to the original alias. Default value  is {{alias}}"},"message":{"type":"string","example":"{{message}} addional message","description":"Message of the alert"},"alertDescription":{"type":"string","example":"{{description}}","description":"Description of the alert. You can use {{description}} to refer to the original alert  description. Default value is {{description}}"},"source":{"type":"string","example":"{{source}}","description":"Source field of the alert. You can use {{source}} to refer to the original source.  Default value is {{source}}"},"entity":{"type":"string","example":"{{entity}}","description":"  Entity field of the alert. You can use {{entity}} to refer to the original entity.  Default value is {{entity}}"},"responders":{"type":"array","description":"Responders to add to the alerts original responders value as a list of teams, users or the  reserved word none or all. If ignoreOriginalResponders field is set to true, this will replace the   original responders","items":{"type":"object","properties":{"type":{"type":"string","example":"team"},"id":{"type":"string","example":"0f5f6b40-7dca-44fc-8036-6d6d550e853f"}}}},"actions":{"type":"array","description":"Actions as a list of strings to add to the alerts original actions value.    If ignoreOriginalActions field is set to true, this will replace the original actions.","items":{"type":"string"},"example":["action1, action2"]},"tags":{"type":"array","description":"Tags to add to the alerts original tags value as a list of strings. If ignoreOriginalResponders  field is set to true, this will replace the original responders.","items":{"type":"string"},"example":["tag1","tag2"]},"details":{"type":"object","description":"Map of key-value pairs to use as custom properties of the alert details.    If ignoreOriginalDetails field is set to true, this will replace the original details."},"continue":{"type":"boolean","example":false,"description":"Will trigger other modify policies if set to true. Default value is false"},"updatePriority":{"type":"boolean","example":false,"description":"If set to true, priority of the alert will be updated based on priorityValue. Default value is false"},"priorityValue":{"type":"string","example":"P3","enum":["P1","P2","P3","P4","P5"],"description":"Priority value of the alert. Should be one of P1, P2, P3, P4, or P5. This field is used when updatePriority is set to true."},"keepOriginalResponders":{"type":"boolean","example":true,"description":"If set to false, policy will ignore the original responders of the alert. Default value is true"},"keepOriginalDetails":{"type":"boolean","example":true,"description":"If set to false, policy will ignore the original details of the alert. Default value is true"},"keepOriginalActions":{"type":"boolean","example":true,"description":"If set to false, policy will ignore the original actions of the alert. Default value is true"},"keepOriginalTags":{"type":"boolean","example":true,"description":"If set to false, policy will ignore the original tags of the alert. Default value is true"}}},"PolicyFilterDto":{"type":"object","properties":{"type":{"type":"string","description":"Link to the next page of results.","enum":["1","2"]}}},"PolicyTimeRestrictionDto":{"type":"object","properties":{"next":{"type":"string","description":"Link to the next page of results."}},"example":{"next":"/v1/alerts/policies?offset=1&size=1"}},"GetGlobalAlertPolicy":{"type":"object","properties":{"type":{"type":"string","example":"ALERT"},"id":{"type":"string","example":"5422f159-0ca5-4fd9-9f73-770b2778baa3"},"name":{"type":"string","example":"test 2"},"description":{"type":"string","example":"asdasd"},"teamId":{"type":"string","example":""},"enabled":{"type":"boolean","example":true},"order":{"type":"number","example":0},"filter":{"required":["type","conditions"],"properties":{"type":{"type":"string","example":"match-any-condition"},"conditions":{"type":"array","items":{"type":"object","properties":{"field":{"type":"string","example":"message"},"not":{"type":"boolean","example":false},"operation":{"type":"string","example":"contains"},"expectedValue":{"type":"string","example":"asd"},"order":{"type":"number","example":0}}}}},"type":"object"},"timeRestriction":{"required":["enabled","timeRestrictions","appliedTimeZone"],"properties":{"enabled":{"type":"boolean","example":true},"timeRestrictions":{"type":"array","items":{"type":"object","properties":{"startHour":{"type":"number","example":0},"startMinute":{"type":"number","example":0},"endHour":{"type":"number","example":1},"endMinute":{"type":"number","example":0}}}},"appliedTimeZone":{"type":"string","example":"(GMT+03:00) Europe/Istanbul TRT"}},"type":"object"},"alias":{"type":"string","example":"{{alias}}"},"message":{"type":"string","example":"{{message}} asd"},"alertDescription":{"type":"string","example":"{{description}}"},"source":{"type":"string","example":"{{source}}"},"entity":{"type":"string","example":"{{entity}}"},"responders":{"type":"array","items":{"type":"string"},"example":[]},"actions":{"type":"array","items":{"type":"string"},"example":[]},"tags":{"type":"array","items":{"type":"string"},"example":[]},"details":{"properties":{},"type":"object"},"continue":{"type":"boolean","example":false},"updatePriority":{"type":"boolean","example":false,"description":"If set to true, priority of the alert will be updated based on priorityValue. Default value is false"},"priorityValue":{"type":"string","example":"P3","enum":["P1","P2","P3","P4","P5"],"description":"Priority value of the alert. Should be one of P1, P2, P3, P4, or P5. This field is used when updatePriority is set to true."},"keepOriginalResponders":{"type":"boolean","example":true},"keepOriginalDetails":{"type":"boolean","example":true},"keepOriginalActions":{"type":"boolean","example":true},"keepOriginalTags":{"type":"boolean","example":true}}},"TeamAlertPolicyDto":{"type":"object","properties":{"type":{"type":"string","example":"ALERT"},"id":{"type":"string","example":"5422f159-0ca5-4fd9-9f73-770b2778baa3"},"name":{"type":"string","example":"test 2"},"description":{"type":"string","example":"asdasd"},"teamId":{"type":"string","example":"5422f159-0ca5-4fd9-9f73-7707enver82a3"},"enabled":{"type":"boolean","example":true},"order":{"type":"number","example":0},"filter":{"required":["type","conditions"],"properties":{"type":{"type":"string","example":"match-any-condition"},"conditions":{"type":"array","items":{"type":"object","properties":{"field":{"type":"string","example":"message"},"not":{"type":"boolean","example":false},"operation":{"type":"string","example":"contains"},"expectedValue":{"type":"string","example":"asd"},"order":{"type":"number","example":0}}}}},"type":"object"},"timeRestriction":{"required":["enabled","timeRestrictions","appliedTimeZone"],"properties":{"enabled":{"type":"boolean","example":true},"timeRestrictions":{"type":"array","items":{"type":"object","properties":{"startHour":{"type":"number","example":0},"startMinute":{"type":"number","example":0},"endHour":{"type":"number","example":1},"endMinute":{"type":"number","example":0}}}},"appliedTimeZone":{"type":"string","example":"(GMT+03:00) Europe/Istanbul TRT"}},"type":"object"},"alias":{"type":"string","example":"{{alias}}"},"message":{"type":"string","example":"{{message}} asd"},"alertDescription":{"type":"string","example":"{{description}}"},"source":{"type":"string","example":"{{source}}"},"entity":{"type":"string","example":"{{entity}}"},"responders":{"type":"array","items":{"type":"string"},"example":[]},"actions":{"type":"array","items":{"type":"string"},"example":[]},"tags":{"type":"array","items":{"type":"string"},"example":[]},"details":{"properties":{},"type":"object"},"continue":{"type":"boolean","example":false},"updatePriority":{"type":"boolean","example":false,"description":"If set to true, priority of the alert will be updated based on priorityValue. Default value is false"},"priorityValue":{"type":"string","example":"P3","enum":["P1","P2","P3","P4","P5"],"description":"Priority value of the alert. Should be one of P1, P2, P3, P4, or P5. This field is used when updatePriority is set to true."},"keepOriginalResponders":{"type":"boolean","example":true},"keepOriginalDetails":{"type":"boolean","example":true},"keepOriginalActions":{"type":"boolean","example":true},"keepOriginalTags":{"type":"boolean","example":true}}},"TeamNotificationPolicyDto":{"type":"object","properties":{"type":{"type":"string","example":"NOTIFICATION"},"id":{"type":"string","example":"5422f159-0ca5-4fd9-9f73-770b2778baa3"},"name":{"type":"string","example":"test 2"},"description":{"type":"string","example":"asdasd"},"teamId":{"type":"string","example":"5422f159-0ca5-4fd9-9f73-7707enver82a3"},"enabled":{"type":"boolean","example":true},"order":{"type":"number","example":0},"filter":{"required":["type","conditions"],"properties":{"type":{"type":"string","example":"match-any-condition"},"conditions":{"type":"array","items":{"type":"object","properties":{"field":{"type":"string","example":"message"},"not":{"type":"boolean","example":false},"operation":{"type":"string","example":"contains"},"expectedValue":{"type":"string","example":"asd"},"order":{"type":"number","example":0}}}}},"type":"object"},"timeRestriction":{"required":["enabled","timeRestrictions","appliedTimeZone"],"properties":{"enabled":{"type":"boolean","example":true},"timeRestrictions":{"type":"array","items":{"type":"object","properties":{"startHour":{"type":"number","example":0},"startMinute":{"type":"number","example":0},"endHour":{"type":"number","example":1},"endMinute":{"type":"number","example":0}}}},"appliedTimeZone":{"type":"string","example":"(GMT+03:00) Europe/Istanbul TRT"}},"type":"object"},"delayAction":{"required":["waitDuration","delayOption","delayTime"],"properties":{"waitDuration":{"type":"number"},"delayOption":{"type":"string"},"delayTime":{"required":["hours","minutes"],"properties":{"hours":{"type":"number"},"minutes":{"type":"number"}},"type":"object"}},"type":"object"},"deduplicationAction":{"required":["waitDuration","frequency","countValueLimit","deduplicationActionType"],"properties":{"waitDuration":{"type":"number"},"frequency":{"type":"number"},"countValueLimit":{"type":"number"},"deduplicationActionType":{"type":"string"}},"type":"object"},"autoCloseAction":{"required":["waitDuration","durationFormat"],"properties":{"waitDuration":{"type":"number"},"durationFormat":{"type":"string"}},"type":"object"},"autoRestartAction":{"required":["waitDuration","durationFormat","maxRepeatCount"],"properties":{"waitDuration":{"type":"number"},"durationFormat":{"type":"string"},"maxRepeatCount":{"type":"number"}},"type":"object"},"suppress":{"type":"boolean"}}},"ChangePolicyOrderRequest":{"type":"object","properties":{"order":{"type":"number","description":"new policy order","example":3}}},"EnableOpsRequest":{"type":"object","properties":{"adminAccountIds":{"type":"array","description":"The list of accountId's of users who will be granted admin right in the team.","items":{"type":"string"}}},"example":{"adminAccountIds":["12435687725","54763838909"]}},"OpsEnableResponse":{"type":"object","properties":{"requestId":{"type":"string","description":"Identifier of the request. This ID can be used to trace or track the request in the system logs or for debugging purposes in case the request fails or causes an error.","example":"d383c6e9-b1e7-4b59-9c35-72f1a2187777"}}},"RequestStatus":{"type":"object","properties":{"value":{"type":"string","enum":["SUCCESSFUL","IN_PROGRESS","FAILED"],"example":"SUCCESSFUL"}}},"RequestStatusResponse":{"type":"object","properties":{"status":{"$ref":"#/components/schemas/RequestStatus"}}},"PlatformTeamDto":{"type":"object","properties":{"teamId":{"type":"string","description":"ID of a team","example":"85f14c10-5bd7-4e98-aee5-511ce1f80086"},"teamName":{"type":"string","description":"Name of a team","example":"Red Team"}}},"ListPlatformTeamResponse":{"type":"object","properties":{"platformTeams":{"type":"array","description":"List of names and ids of the teams.","items":{"$ref":"#/components/schemas/PlatformTeamDto"}}}},"ListErrorResponse":{"type":"object","properties":{"errors":{"type":"array","description":"List of all errors encountered.","items":{"$ref":"#/components/schemas/LogsErrorResponse"}}},"example":{"errors":[{"code":"BAD_REQUEST","title":"Invalid or missing startTime"}]}},"LogsErrorResponse":{"type":"object","properties":{"code":{"type":"string","description":"Category of the error generated.","enum":["BAD_REQUEST","FORBIDDEN_OPERATION","USER_NOT_FOUND","INTERNAL_SERVER_ERROR"]},"title":{"type":"string","description":"Brief description about the error."}},"example":{"code":"BAD_REQUEST","title":"Invalid or missing startTime"}},"AuditLogResponse":{"type":"object","properties":{"created":{"type":"string","format":"date-time","description":"Exact date and time when the audit log was generated.","example":"2024-01-05T07:06:47.958Z"},"message":{"type":"string","example":"Escalation policy [escalation] added","description":"Summary message for the audit log."},"details":{"type":"string","example":"{\"targetUser\":\"xyz@abc.com\"}","description":"Details of the audit log in JSON string format."},"category":{"type":"string","description":"Represents category of the audit log like Alerts, Notifications etc.","enum":["Automation","Incoming Data","Alerts","API","Configuration Changes","Emails","Heartbeats","Incident Management","Integrations","Syncs","Notifications","Oncall Management","Services","User Import","Added user to group","Added user to role"],"example":"Integrations"},"level":{"type":"string","description":"Log level of the audit log.","enum":["Information","Error","Warning"],"example":"Information"}}},"ListAuditLogResponse":{"type":"object","properties":{"values":{"type":"array","description":"List of Audit logs.","items":{"$ref":"#/components/schemas/AuditLogResponse"}},"count":{"type":"integer","format":"int32","description":"Total number of audit logs in response.","example":1},"links":{"$ref":"#/components/schemas/ListAuditLogResponseLink"}}},"ListAuditLogResponseLink":{"type":"object","properties":{"next":{"description":"Link to the next page of results. This will be null when all logs have been returned","type":"string"}},"example":{"next":"/logs?startTime=2024-01-01T00:00:00Z&endTime=2024-01-01T15:30:00Z&limit=5000&pageToken=WzE3MDgxNjk0M"}},"Status":{"type":"string","example":"cancelled","description":"Current status of the maintenance plan.","enum":["cancelled","past","active","planned"]},"StartDate":{"type":"string","format":"date-time","description":"Date and time when the maintenance plan starts.","example":"2023-12-11T11:37:40.501Z"},"GetTeamMaintenance":{"type":"object","properties":{"teamId":{"type":"string","description":"Identifier of the maintenance owning team.","example":"77b933c9-92bb-46e7-a73c-764b8d7c3c25"},"id":{"type":"string","example":"0762db96-f795-4246-90be-edd295af8fca","description":"Identifier of the maintenance."},"status":{"$ref":"#/components/schemas/Status"},"description":{"$ref":"#/components/schemas/MaintenanceDescription"},"startDate":{"$ref":"#/components/schemas/StartDate"},"endDate":{"$ref":"#/components/schemas/EndDate"},"rules":{"type":"array","description":"Rules of maintenance, which takes a list of rule objects and defines the maintenance rules over policies, integrations and syncs.","items":{"type":"object","properties":{"entity":{"$ref":"#/components/schemas/MaintenanceEntity"},"state":{"type":"string","enum":["disabled","enabled"],"description":"State of rule that will be defined in maintenance. This field has to be disabled for integrations and syncs.","example":"enabled"}},"example":{"state":"disabled","entity":{"id":"51e9e162-767b-47a6-a00a-4cd8b6f94829","type":"integration"}}}}}},"CreateMaintenanceRequest":{"required":["rules"],"type":"object","properties":{"description":{"$ref":"#/components/schemas/MaintenanceDescription"},"startDate":{"$ref":"#/components/schemas/StartDate"},"endDate":{"$ref":"#/components/schemas/EndDate"},"rules":{"$ref":"#/components/schemas/Rules"}}},"UpdateMaintenanceRequest":{"type":"object","properties":{"description":{"$ref":"#/components/schemas/MaintenanceDescription"},"startDate":{"$ref":"#/components/schemas/StartDate"},"endDate":{"$ref":"#/components/schemas/EndDate"},"rules":{"$ref":"#/components/schemas/Rules"}}},"MaintenanceLinks":{"type":"object","properties":{"next":{"type":"string","nullable":true,"description":"Link to the next page of results.","example":"/v1/maintenances?offset=50&size=25"}}},"MaintenanceDescription":{"type":"string","example":"Maintenance Plan","description":"Description or name for the maintenance plan. This can be any text that helps identify the purpose or characteristics of the maintenance plan.","maximum":200},"MaintenanceEntity":{"type":"object","description":"Entities within a maintenance policy rule are used to specify which entity like policy, integration or sync should enabled or disabled during maintenance period.","example":{"id":"258bec1f-bae6-4190-bcc6-56c42990131c","type":"policy"},"properties":{"id":{"type":"string"},"type":{"type":"string","enum":["sync","integration","policy"]}}},"MaintenanceRule":{"type":"object","required":["entity","state"],"properties":{"entity":{"$ref":"#/components/schemas/MaintenanceEntity"},"state":{"type":"string","enum":["disabled","enabled"],"description":"State of rule that will be defined in maintenance. This field has to be disabled for integrations and syncs.","example":"enabled"}},"example":{"state":"disabled","entity":{"id":"51e9e162-767b-47a6-a00a-4cd8b6f94829","type":"integration"}}},"EndDate":{"type":"string","format":"date-time","description":"Date and time when the maintenance plan ends.","example":"2023-12-11T11:42:40.501Z"},"Rules":{"type":"array","description":"Rules of maintenance, which takes a list of rule objects and defines the maintenance rules over policies, integrations and syncs.","items":{"$ref":"#/components/schemas/MaintenanceRule"}},"GetGlobalMaintenance":{"type":"object","properties":{"id":{"type":"string","example":"0762db96-f795-4246-90be-edd295af8fca","description":"Identifier of the maintenance."},"status":{"$ref":"#/components/schemas/Status"},"description":{"$ref":"#/components/schemas/MaintenanceDescription"},"startDate":{"$ref":"#/components/schemas/StartDate"},"endDate":{"$ref":"#/components/schemas/EndDate"},"rules":{"type":"array","description":"Rules of maintenance, which takes a list of rule objects and defines the maintenance rules over policies, integrations and syncs.","items":{"type":"object","properties":{"entity":{"$ref":"#/components/schemas/MaintenanceEntity"},"state":{"type":"string","enum":["disabled","enabled"],"description":"State of rule that will be defined in maintenance. This field has to be disabled for integrations and syncs.","example":"enabled"}},"example":{"state":"disabled","entity":{"id":"51e9e162-767b-47a6-a00a-4cd8b6f94829","type":"integration"}}}}}},"NotificationRulesStepContact":{"description":"Defines the contact that notification will be sent to.","required":["method","to"],"type":"object","properties":{"method":{"type":"string","description":"This parameter is the contact method of user.","example":"email","enum":["email","sms","voice","mobile"]},"to":{"type":"string","description":"Address of the contact notification will be sent to.","example":"johnsmith@atlassian.com"}}},"NotificationRulesStepLinks":{"type":"object","properties":{"next":{"type":"string","description":"Link to the next page of results."}},"example":{"next":"/v1/notification-rules/0hcb717e-c442-4185-8bc1-cc998844f567/steps?offset=10&size=5"}},"NotificationRulesStepNotificationRuleStep":{"type":"object","properties":{"id":{"type":"string","description":"Identifier of the notification rule step which belongs to given notification rule.","example":"dbf70781-d6d8-4924-b90d-6a0c77833748"},"sendAfter":{"description":"Time period when notification will be sent after in minutes.","type":"integer","format":"int64","minimum":0,"example":5},"contact":{"$ref":"#/components/schemas/NotificationRulesStepContact"},"enabled":{"description":"Specifies whether given step will be enabled or not when it is created.","type":"boolean"}}},"UpdateNotificationRuleStepRequest":{"type":"object","properties":{"contact":{"$ref":"#/components/schemas/NotificationRulesStepContact"},"sendAfter":{"description":"Time period when notification will be sent after in minutes.","type":"integer","format":"int64","minimum":0,"example":5},"enabled":{"description":"Specifies whether given step will be enabled or not when it is created.","type":"boolean"}}},"NotificationRulesStepCreateNotificationRuleStepRequest":{"required":["contact","enabled"],"type":"object","properties":{"contact":{"$ref":"#/components/schemas/NotificationRulesStepContact"},"sendAfter":{"description":"Time period when notification will be sent after in minutes.","type":"integer","format":"int64","minimum":0,"example":5},"enabled":{"description":"Specifies whether given step will be enabled or not when it is created.","type":"boolean"}}},"NotificationRulesStepPaginatedResponse":{"type":"object","properties":{"values":{"type":"array","items":{"$ref":"#/components/schemas/NotificationRulesStepNotificationRuleStep"}},"links":{"$ref":"#/components/schemas/NotificationRulesStepLinks"}}},"CreateContactPayload":{"required":["method","to"],"type":"object","properties":{"method":{"type":"string","description":"The method of the contact.","enum":["email","sms","voice"]},"to":{"description":"The contact address.","type":"string"}},"example":{"method":"email","to":"test@atlassian.com"}},"PaginatedResponseContactWithApplyOrderResponse":{"type":"object","properties":{"values":{"type":"array","items":{"$ref":"#/components/schemas/ContactWithApplyOrderResponse"}},"links":{"$ref":"#/components/schemas/CustomRolesLinks"}}},"ContactSuccessResponse":{"type":"object","properties":{"message":{"type":"string"},"data":{"$ref":"#/components/schemas/SimpleData"}}},"CustomUserRoleSuccessResponse":{"type":"object","properties":{"message":{"type":"string"},"data":{"$ref":"#/components/schemas/SimpleData"}}},"OperationsEnableSuccessResponse":{"type":"object","properties":{"message":{"type":"string"},"data":{"$ref":"#/components/schemas/SimpleData"}}},"ContactResponse":{"type":"object","properties":{"id":{"type":"string","description":"The id of the contact."},"method":{"description":"The method of the contact.","type":"string","enum":["email","sms","voice","mobile"]},"to":{"description":"The contact address.","type":"string"},"status":{"$ref":"#/components/schemas/ContactStatus"}}},"SimpleCreateData":{"type":"object","properties":{"id":{"type":"string"}}},"SimpleData":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"}}},"ContactWithApplyOrderResponse":{"type":"object","properties":{"id":{"description":"The id of the contact.","type":"string"},"method":{"description":"The method of the contact.","type":"string","enum":["email","sms","voice","mobile"]},"to":{"description":"The contact address.","type":"string"},"status":{"$ref":"#/components/schemas/ContactStatus"},"applyOrder":{"type":"integer","format":"int32"}}},"ContactCreateResponse":{"type":"object","properties":{"message":{"type":"string"},"data":{"$ref":"#/components/schemas/SimpleCreateData"}}},"CustomRolesLinks":{"type":"object","properties":{"next":{"type":"string"},"first":{"type":"string"},"last":{"type":"string"}}},"UpdateContactPayload":{"required":["to"],"type":"object","properties":{"to":{"description":"The contact address.","type":"string"}},"example":{"to":"90-5555559999"}},"PaginatedResponseCustomUserRoleSummaryResponse":{"type":"object","properties":{"values":{"type":"array","items":{"$ref":"#/components/schemas/CustomUserRoleSummaryResponse"}},"_expands":{"type":"array","items":{"type":"string"}},"links":{"$ref":"#/components/schemas/CustomRolesLinks"}}},"CustomUserRoleSummaryResponse":{"type":"object","properties":{"id":{"description":"The id of the custom user role.","type":"string"},"name":{"description":"The name of the custom user role.","type":"string"}}},"ContactStatus":{"type":"object","properties":{"enabled":{"description":"The status of the contact.","type":"boolean"},"disabledReason":{"description":"The reason why the contact is deactivated.","type":"string"}}},"CustomUserRoleUpdateRequest":{"type":"object","properties":{"id":{"type":"string","description":"The id of the custom user role."},"name":{"type":"string","description":"The name of the custom user role."},"grantedRights":{"type":"array","description":"The list of rights to grant to the custom user role.","items":{"type":"string"}},"disallowedRights":{"type":"array","description":"The list of rights to disallow to the custom user role.","items":{"type":"string"}}},"example":{"name":"conflictRightRole_1","grantedRights":["alerts-access-all","incident-add-note","asdasdad"],"disallowedRights":["incident-reopen"]}},"AssignRoleRequest":{"required":["accountId","roleId"],"type":"object","properties":{"accountId":{"type":"string","description":"The accountId of the user to assign the role to."},"roleId":{"type":"string","description":"The id of the role to assign."}},"example":{"accountId":"630a55c646556c72662aaaaa","roleId":"44a48324-f5f9-45af-b8c9-02978aaaaaaa"}},"CustomRolesPaginatedResponse":{"type":"object","properties":{"values":{"description":"The list of response values.","type":"array","items":{"type":"object"}},"_expands":{"type":"array","items":{"type":"string"}},"links":{"$ref":"#/components/schemas/CustomRolesLinks"}}},"CustomUserRoleCreateRequest":{"required":["name"],"type":"object","properties":{"name":{"type":"string","description":"The name of the custom user role."},"grantedRights":{"type":"array","description":"The list of rights to grant to the custom user role.","items":{"type":"string"}},"disallowedRights":{"type":"array","description":"The list of rights to disallow to the custom user role.","items":{"type":"string"}}},"example":{"name":"Pre req Rest Api 3","grantedRights":["alert-action","alert-create","alert-add-note"],"disallowedRights":["alert-delete"]}},"GetCustomUserRoleResponse":{"type":"object","properties":{"id":{"description":"The id of the custom user role.","type":"string"},"name":{"description":"The name of the custom user role.","type":"string"},"extendedRole":{"description":"The extended role of the custom user role.","type":"string"},"grantedRights":{"description":"The list of rights granted to the custom user role.","type":"array","items":{"type":"string"}},"disallowedRights":{"description":"The list of rights disallowed to the custom user role.","type":"array","items":{"type":"string"}}}},"TeamRoleUpdateRequest":{"type":"object","properties":{"name":{"type":"string","description":"The name of the custom user role."},"rights":{"type":"array","items":{"type":"object","properties":{"right":{"type":"string"},"granted":{"type":"boolean"}}}}},"example":{"name":"updatedRole","rights":[{"right":"access-reports","granted":true},{"right":"delete-escalations","granted":false}]}},"TeamRoleCreateRequest":{"type":"object","properties":{"name":{"type":"string","description":"The name of the custom user role."},"rights":{"type":"array","items":{"type":"object","properties":{"right":{"type":"string"},"granted":{"type":"boolean"}}}}},"example":{"name":"createRole","rights":[{"right":"access-reports","granted":true},{"right":"delete-escalations","granted":false}]}},"TeamRoleResponse":{"type":"object","properties":{"id":{"description":"The id of the team role.","type":"string"},"name":{"description":"The name of the team role.","type":"string"},"rights":{"description":"The list of rights granted to the custom user role.","type":"array","items":{"type":"object","properties":{"right":{"type":"string"},"granted":{"type":"boolean"}}}}}},"ListTeamRoleResponse":{"type":"array","items":{"type":"object","properties":{"id":{"description":"The id of the team role.","type":"string"},"name":{"description":"The name of the team role.","type":"string"},"rights":{"description":"The list of rights granted to the custom user role.","type":"array","items":{"type":"object","properties":{"right":{"type":"string"},"granted":{"type":"boolean"}}}}}}},"IntegrationsCondition":{"type":"object","properties":{"field":{"type":"string"},"expectedValue":{"type":"string"},"not":{"type":"boolean"},"operation":{"type":"string"},"key":{"type":"string"}},"description":"List of the filter conditions."},"UpdateIntegrationActionRequest":{"type":"object","properties":{"name":{"type":"string","description":"Name of the action.","example":"Updated action name"},"enabled":{"type":"boolean","description":"This parameter is for specifying whether the integration action will be enabled or not. Defaults to false","example":false},"filter":{"$ref":"#/components/schemas/Filter"},"typeSpecificProperties":{"type":"object","additionalProperties":{"type":"object","description":"Action specific properties of the action."},"description":"Action specific properties of the action."},"fieldMappings":{"type":"object","additionalProperties":{"type":"object","description":"The fields mapping between payload and alert fields."},"description":"The fields mapping between payload and alert fields.","example":{"note":"","description":"{{message}}","source":"Email","message":"{{subject}}","priority":"{{priority}}","tags":[],"alias":"","details":{"From":"{{from_address}}"},"user":"","actions":[],"entity":""}},"actionMapping":{"$ref":"#/components/schemas/ActionMapping"}}},"Integration":{"title":"Integration","type":"object","properties":{"id":{"type":"string","description":"ID of the integration."},"type":{"type":"string","description":"Type of the integration."},"name":{"type":"string","description":"Name of the integration."},"enabled":{"type":"boolean","description":"Indicates whether the integration is enabled or not."},"teamId":{"type":"string","description":"ID of the team that integration belongs to."},"typeSpecificProperties":{"type":"object","description":"Integration specific properties.","additionalProperties":{"type":"object"}}}},"IntegrationActions":{"title":"IntegrationActions","type":"object","properties":{"links":{"$ref":"#/components/schemas/IntegrationsLinks"},"values":{"type":"array","items":{"$ref":"#/components/schemas/ActionDetail"}}}},"ActionDetail":{"type":"object","properties":{"id":{"type":"string","description":"ID of the integration action."},"name":{"type":"string","description":"Name of the integration action."},"type":{"type":"string","description":"Type of the integration action."},"direction":{"type":"string","description":"Direction of the action. It can be *incoming* or *outgoing*."},"domain":{"type":"string","description":"Domain of the action. It can be *alert*."},"actionMappingType":{"type":"string","description":"Mapped action of the integration action. This will be provided for the outgoing actions. Alert action will be mapped to the actions."},"groupType":{"type":"string","description":"Group type of the action. It can be *forwarding*, *updating* or *checkbox*. It will be provided for outgoing actions"}}},"IntegrationAction":{"title":"IntegrationAction","type":"object","properties":{"id":{"type":"string","description":"ID of the integration action."},"type":{"type":"string","description":"Type of the integration action."},"name":{"type":"string","description":"Name of the integration action."},"domain":{"type":"string","description":"Domain of the action. It can be *alert*","enum":["alert"]},"direction":{"type":"string","description":"Direction of the action. It can be *incoming* or *outgoing*","enum":["incoming","outgoing"]},"actionMapping":{"$ref":"#/components/schemas/ActionMapping"},"groupType":{"type":"string","description":"Group type of the action. It can be *forwarding*, *updating* or *checkbox*. It is not blank for outgoing actions","enum":["forwarding","updating","checkbox"]},"extraField":{"type":"string","example":"","description":"Extra field for the action"},"filter":{"$ref":"#/components/schemas/Filter"},"typeSpecificProperties":{"type":"object","description":"Action specific properties.","additionalProperties":{"type":"object"}},"fieldMappings":{"type":"object","description":"The fields mapping between payload and alert fields.","additionalProperties":{"type":"object"},"example":{"note":"","description":"{{message}}","source":"Email Updated","message":"{{subject}}","priority":"{{priority}}","tags":[],"alias":"","details":{"From":"{{from_address}}"},"user":"","actions":[],"entity":""}}}},"CreateIntegrationRequest":{"required":["name","type"],"type":"object","properties":{"name":{"type":"string","description":"Name of the integration. Name must be unique for each integration.","example":"Email Integration A"},"type":{"type":"string","description":"Type of the integration. (For instance, \"API\" for API Integration.","example":"Email"},"description":{"type":"string","description":"Description of the integration.","example":"A Sample of Email Integration"},"enabled":{"type":"boolean","description":"This parameter is for specifying whether the integration will be enabled or not. Defaults to false","example":true},"teamId":{"type":"string","example":"8ae8a0a2-1122-5566-8899-11b82bbd85c9","description":"ID of the team that integration belongs to."},"typeSpecificProperties":{"type":"object","example":{"emailUsername":"email-integration-test1","suppressNotifications":false},"additionalProperties":{"type":"object","description":"Integration spesific properties may be provided to this object. \nFor instance, this map may constist \n- *suppressNotifications* for incoming integrations\n- *emailUsername* for email integrations\n- *allowReadAccess* , *allowWriteAccess*, *allowDeleteAccess*, *allowConfigurationAccess* for API Integrations\n- some credential properties or tool spesific properties such as URLs for outgoing integrations"},"description":"Integration spesific properties may be provided to this object. \nFor instance, this map may constist \n- *suppressNotifications* for incoming integrations\n- *emailUsername* for email integrations\n- *allowReadAccess* , *allowWriteAccess*, *allowDeleteAccess*, *allowConfigurationAccess* for API Integrations\n- some credential properties or tool spesific properties such as URLs for outgoing integrations"}}},"UpdateIntegrationActionOrderRequest":{"type":"object","properties":{"successorId":{"type":"string","description":"Id of the successor integration action. The action order will be defined with reference to order of the successor action."}}},"IntegrationResponse":{"type":"object","properties":{"id":{"type":"string","description":"ID of the integration."},"name":{"type":"string","description":"Name of the integration."},"type":{"type":"string","description":"Type of the integration."},"enabled":{"type":"boolean","description":"Indicates whether the integration is enabled or not."},"teamId":{"type":"string","description":"ID of the team that integration belongs to."},"advanced":{"type":"boolean","description":"Indicates whether the integration is configured as different than the default version."},"maintenanceSources":{"type":"array","items":{"$ref":"#/components/schemas/MaintenanceSource"}},"directions":{"type":"array","description":"Direction of the action. It can be *incoming* or *outgoing*","items":{"type":"string","enum":["incoming","outgoing"]}},"domains":{"type":"array","description":"Domain of the action. It can be *alert*","items":{"type":"string","enum":["alert"]}},"typeSpecificProperties":{"type":"object","description":"Action specific properties.","additionalProperties":{"type":"object"}}}},"IntegrationsLinks":{"type":"object","properties":{"next":{"type":"string","description":"Relative path to next page."},"previous":{"type":"string","description":"Relative path to previous page."}}},"ActionMapping":{"required":["type"],"type":"object","properties":{"type":{"type":"string"},"parameter":{"type":"object"}}},"Integrations":{"title":"Integrations","type":"object","properties":{"links":{"$ref":"#/components/schemas/IntegrationsLinks"},"values":{"type":"array","items":{"$ref":"#/components/schemas/IntegrationDetail"}}}},"MaintenanceSource":{"type":"object","properties":{"maintenanceId":{"type":"string"},"enabled":{"type":"boolean","description":"Indicates whether the maintainance is enabled or not."},"interval":{"$ref":"#/components/schemas/MaintenanceInterval"}}},"Filter":{"type":"object","properties":{"conditionsEmpty":{"type":"boolean","description":"Indicates whether the condition is empty or not."},"conditionMatchType":{"type":"string","description":"It is condition match type of the action. It can be *match-all*, *match-any-condition* or *match-all-conditions*","enum":["match-all","match-any-condition","match-all-conditions"],"example":"match-all"},"conditions":{"type":"array","description":"List of the filter conditions.","example":[],"items":{"$ref":"#/components/schemas/IntegrationCondition"}}}},"UpdateIntegrationRequest":{"type":"object","properties":{"name":{"type":"string","description":"Name of the integration. Name must be unique for each integration.","example":"Webhook Integration A"},"enabled":{"type":"boolean","description":"This parameter is for specifying whether the integration will be enabled or not. Defaults to false","example":true},"description":{"type":"string","description":"Description of the integration.","example":"A Sample of Webhook Integration"},"teamId":{"type":"string","description":"ID of the team that integration belongs to.","example":"8ae8a0a2-1122-5566-8899-11b82bbd85c9"},"typeSpecificProperties":{"type":"object","example":{"addAlertDetails":false,"headers":{},"addAlertDescription":false,"outgoingSettingsEnabled":false,"forwardingActionGroupEnabled":true,"url":"http://asd.com"},"additionalProperties":{"type":"object","description":"This is for some integration spesific properties. For instance this map is consisting suppressNotifications for incoming integrations, emailUsername for email integrations or allowReadAccess/allowWriteAccess/allowDeleteAccessallowConfigurationAccess for API Integrations."},"description":"This is for some integration spesific properties. For instance this map is consisting suppressNotifications for incoming integrations, emailUsername for email integrations or allowReadAccess/allowWriteAccess/allowDeleteAccessallowConfigurationAccess for API Integrations."}}},"MaintenanceInterval":{"type":"object","properties":{"startTimeMillis":{"type":"integer","format":"int64"},"endTimeMillis":{"type":"integer","format":"int64"}}},"IntegrationFilter":{"title":"IntegrationFilter","type":"object","properties":{"conditionMatchType":{"type":"string","description":"It is condition match type of the action. It can be *match-all*, *match-any-condition* or *match-all-conditions*","enum":["match-all","match-any-condition","match-all-conditions"]},"conditions":{"type":"array","description":"List of the action conditions","example":[],"items":{"$ref":"#/components/schemas/IntegrationsCondition"}}}},"IntegrationDetail":{"type":"object","properties":{"id":{"type":"string","description":"ID of the integration."},"name":{"type":"string","description":"Name of the integration."},"type":{"type":"string","description":"Type of the integration."},"enabled":{"type":"boolean","description":"Indicates whether the integration is enabled or not."},"teamId":{"type":"string","description":"ID of the team that integration belongs to."}}},"CreateIntegrationActionRequest":{"required":["direction","domain","filter","name","type"],"type":"object","properties":{"type":{"type":"string","description":"Type of the action. It can be *create*, *close*, *acknowledge* or *addNote* for incoming actions. Types of outgoing actions can be change according to integration types such as *publish* or *sendMessage* etc.","example":"create"},"name":{"type":"string","description":"Name of the action.","example":"Create Alert2"},"domain":{"type":"string","description":"Domain of the action. It can be *alert*","enum":["alert"],"example":"alert"},"direction":{"type":"string","description":"Direction of the action. It can be *incoming* or *outgoing*","enum":["incoming","outgoing"],"example":"incoming"},"groupType":{"type":"string","description":"Group type of the action. It can be *forwarding*, *updating* or *checkbox*. It must be provided for outgoing actions","enum":["forwarding","updating","checkbox"],"example":""},"extraField":{"type":"string","description":"Extra field for the action","example":""},"filter":{"$ref":"#/components/schemas/Filter"},"typeSpecificProperties":{"type":"object","additionalProperties":{"type":"object","description":"Action specific properties of the action."},"description":"Action specific properties of the action."},"fieldMappings":{"type":"object","additionalProperties":{"type":"object","description":"The fields mapping between payload and alert fields."},"description":"The fields mapping between payload and alert fields.","example":{"note":"","description":"{{message}}","source":"Email","message":"{{subject}}","priority":"{{priority}}","tags":[],"alias":"","details":{"From":"{{from_address}}"},"user":"","actions":[],"entity":""}},"actionMapping":{"$ref":"#/components/schemas/ActionMapping"},"enabled":{"type":"boolean","description":"This parameter is for specifying whether the integration action will be enabled or not. Defaults to false"}}},"IntegrationCondition":{"required":["field","operation"],"type":"object","properties":{"order":{"type":"integer","format":"int32"},"field":{"type":"string"},"expectedValue":{"type":"string"},"not":{"type":"boolean"},"operation":{"type":"string","enum":["matches","contains","starts-with","ends-with","equals","contains-key","contains-value","greater-than","less-than","is-empty","equals-ignore-whitespace"]},"key":{"type":"string"},"systemCondition":{"type":"boolean"}}},"ForwardingRuleResponse":{"type":"object","properties":{"id":{"type":"string","description":"Identifier of the forwarding rule.","example":"6667cb5b-a5ce-4550-9469-1dbcabac6ffb"},"fromUserId":{"type":"string","description":"The id of user whose notifications will be forwarded.","example":"e58d6ee3-37bd-432f-9ded-64808b761ae0"},"toUserId":{"type":"string","description":"The id of user who will receive the forwarded notifications.","example":"4b26961a-a837-49d2-a1fe-0973013e3c3b"},"startDate":{"type":"string","description":"The date and time for forwarding will start, which takes a date format as (yyyy-MM-dd'T'HH:mm:ssZ) (e.g. 2017-01-15T08:00:00+02:00).","example":"2022-07-05T08:00:00Z"},"endDate":{"type":"string","description":"The date and time for forwarding will end, which takes a date format as (yyyy-MM-dd'T'HH:mm:ssZ) (e.g. 2017-01-15T08:00:00+02:00).","example":"2022-07-06T18:00:00Z"}}},"ForwardingPaginatedResponse":{"type":"object","properties":{"values":{"type":"array","items":{"$ref":"#/components/schemas/ForwardingRuleResponse"}},"links":{"$ref":"#/components/schemas/ForwardingLinks"}}},"ForwardingLinks":{"type":"object","properties":{"next":{"description":"Link to the next page of results.","type":"string","example":"/v1/forwarding-rules?offset=1&size=5"}}},"CreateForwardingRuleRequest":{"required":["endDate","fromUserId","startDate","toUserId"],"type":"object","properties":{"toUserId":{"type":"string","description":"The id of user who will receive the forwarded notifications.","example":"e58d6ee3-37bd-432f-9ded-64808b761ae0"},"fromUserId":{"type":"string","description":"The id of user whose notifications will be forwarded.","example":"4b26961a-a837-49d2-a1fe-0973013e3c3b"},"startDate":{"type":"string","format":"date-time","description":"The date and time for forwarding will start, which takes a date format as (yyyy-MM-dd'T'HH:mm:ssZ) (e.g. 2017-01-15T08:00:00+02:00).","example":"2022-07-05T08:00:00Z"},"endDate":{"type":"string","format":"date-time","description":"The date and time for forwarding will end, which takes a date format as (yyyy-MM-dd'T'HH:mm:ssZ) (e.g. 2017-01-15T08:00:00+02:00).","example":"2022-07-06T18:00:00Z"}}},"HeartbeatPaginatedResponse":{"type":"object","properties":{"values":{"type":"array","items":{"$ref":"#/components/schemas/Heartbeat"}},"links":{"$ref":"#/components/schemas/HeartbeatLinks"}}},"HeartbeatLinks":{"type":"object","properties":{"next":{"type":"string","description":"Link to the next page of results.","example":"/v1/teams/77b933c9-92bb-46e7-a73c-764b8d7c3c25/heartbeats?offset=13&size=5"}}},"SimpleSuccessResponse":{"properties":{"message":{"type":"string","example":"PONG - Heartbeat received"}}},"Heartbeat":{"type":"object","properties":{"name":{"type":"string","description":"Name of the heartbeat.","example":"Service Heartbeat"},"description":{"type":"string","description":"Description of the heartbeat.","example":"Heartbeat for checking service health"},"interval":{"type":"integer","format":"int32","description":"Specifies how often a heartbeat message should be expected.","example":5},"intervalUnit":{"type":"string","enum":["Days","Minutes","Hours"],"example":"Days"},"enabled":{"type":"boolean","description":"Enable/disable heartbeat monitoring.","example":"true"},"status":{"type":"string","enum":["Unresponsive","Responsive","Off","Pending"],"example":"Responsive"},"ownerTeamId":{"type":"string","description":"Owner team of the heartbeat, consisting id of the owner team","example":"4b26961a-a837-49d2-a1fe-0973013e3c3b"},"alertMessage":{"type":"string","description":"Specifies the alert message for heartbeat expiration alert.","example":"Service does not respond"},"alertTags":{"description":"Specifies the alert tags for heartbeat expiration alert.","type":"array","items":{"type":"string"},"example":["HighPriority","Database"]},"alertPriority":{"type":"string","description":"Specifies the alert priority for heartbeat expiration alert.","enum":["P1","P2","P3","P4","P5"],"example":"P2"}}},"UpdateHeartbeatRequest":{"required":["name"],"type":"object","properties":{"description":{"type":"string","description":"An optional description of the heartbe.at","maximum":10000,"example":"It checks whether server is online or not."},"interval":{"minimum":1,"type":"integer","format":"int32","description":"Specifies how often a heartbeat message should be expected.","example":5},"intervalUnit":{"type":"string","enum":["hours","minutes","days"],"example":"minutes"},"enabled":{"type":"boolean","description":"Enable/disable heartbeat monitoring.","example":true},"alertMessage":{"type":"string","description":"Specifies the alert message for heartbeat expiration alert.","maximum":130,"example":"HeartbeatName is expired"},"alertTags":{"description":"Specifies the alert tags for heartbeat expiration alert.","type":"array","items":{"type":"string"},"example":["critical","dns"]},"alertPriority":{"type":"string","description":"Specifies the alert priority for heartbeat expiration alert.","enum":["P1","P2","P3","P4","P5"],"default":"P3"}}},"CreateHeartbeatRequest":{"required":["interval","intervalUnit","name"],"type":"object","properties":{"name":{"type":"string","description":"Name of the heartbeat.","maximum":200,"example":"DNS Server Checker"},"description":{"type":"string","description":"Description of the heartbeat.","maximum":10000,"example":"It checks whether server is online or not"},"interval":{"minimum":1,"type":"integer","format":"int32","description":"Specifies how often a heartbeat message should be expected.","example":5},"enabled":{"type":"boolean","description":"Enable/disable heartbeat monitoring.","default":false,"example":true},"intervalUnit":{"type":"string","enum":["hours","minutes","days"],"example":"minutes"},"alertMessage":{"type":"string","description":"Specifies the alert message for heartbeat expiration alert.","maximum":130,"default":"HeartbeatName is expired","example":"HeartbeatName is expired"},"alertTags":{"description":"Specifies the alert tags for heartbeat expiration alert.","type":"array","items":{"type":"string"},"example":["critical","dns"]},"alertPriority":{"type":"string","description":"Specifies the alert priority for heartbeat expiration alert. If this is not provided, default priority is P3","enum":["P1","P2","P3","P4","P5"],"default":"P3","example":"P3"}}},"NotificationRulesWeekdayTimeRestrictionInterval":{"required":["type","restrictions"],"type":"object","properties":{"type":{"description":"This parameter should be set **weekday-and-time-of-day** (week-based).","type":"string","discriminator":{"propertyName":"type"}},"restrictions":{"description":"It is a list of restriction objects.","maxItems":15,"minItems":1,"type":"array","items":{"$ref":"#/components/schemas/NotificationRulesWeekTimeRestriction"}}}},"NotificationRulesLinks":{"type":"object","properties":{"next":{"description":"Link to the next page of results.","type":"string"}},"example":{"next":"/v1/notification-rules?offset=10&size=5"}},"NotificationRulesWeekTimeRestriction":{"description":"It is a restriction object.","required":["endHour","endMin","startHour","startMin","startDay","endDay"],"type":"object","properties":{"startDay":{"type":"string","enum":["monday","tuesday","wednesday","thursday","friday","saturday","sunday"]},"endDay":{"type":"string","enum":["monday","tuesday","wednesday","thursday","friday","saturday","sunday"]},"startHour":{"description":"Value of the hour that frame will start.","maximum":23,"minimum":0,"type":"integer","format":"int32"},"endHour":{"description":"Value of the hour that frame will end.","maximum":23,"minimum":0,"type":"integer","format":"int32"},"startMin":{"description":"Value of the minute that frame will start.","maximum":59,"minimum":0,"type":"integer","format":"int32"},"endMin":{"description":"Value of the minute that frame will end.","maximum":59,"minimum":0,"type":"integer","format":"int32"}}},"NotificationRuleRequest":{"required":["actionType","enabled","name"],"type":"object","properties":{"name":{"description":"Name of the notification rule.","type":"string"},"actionType":{"description":"Type of the action that notification rule will have.","type":"string","enum":["create-alert","acknowledged-alert","closed-alert","assigned-alert","add-note","schedule-start","schedule-end","incoming-call-routing"]},"criteria":{"description":"Defines the conditions that will be checked before applying notification rule and type of the operations that will be applied on conditions. Default value is matching all notification rules.","oneOf":[{"$ref":"#/components/schemas/NotificationRulesMatchAllAnyConditionsFilter"},{"$ref":"#/components/schemas/NotificationRulesMatchAllFilter"}]},"notificationTime":{"description":"List of Time Periods that notification for schedule start/end will be sent.","type":"array","items":{"type":"string","enum":["just-before","15-minutes-ago","1-hour-ago","1-day-ago"]}},"timeRestriction":{"description":"Time interval that notification rule will work. It can be just one restriction which will be applied all days, or list of restrictions will be applied to the specified days.","oneOf":[{"$ref":"#/components/schemas/NotificationRulesTimeOfDayTimeRestrictionInterval"},{"$ref":"#/components/schemas/NotificationRulesWeekdayTimeRestrictionInterval"}]},"schedules":{"description":"This field is valid for Schedule Start/End rules. It can be list of schedule IDs that notification rule will be applied when on call of that schedule starts/ends. This field shall only be populated with the specified users' schedules.","type":"array","items":{"type":"string"}},"order":{"description":"The order of the notification rule within the notification rules with the same action type. Order value is actually the index of the notification rule whose minimum value is 0 and whose maximum value is n-1 (number of notification rules with the same action type is n).","type":"integer","format":"int32"},"steps":{"description":"List of steps that will be added to notification rule.","type":"array","items":{"$ref":"#/components/schemas/NotificationRulesCreateNotificationRuleStepRequest"}},"repeat":{"description":"The amount of time in minutes that notification steps will be repeatedly apply.","$ref":"#/components/schemas/NotificationRuleRepeat"},"enabled":{"description":"If notification rule will be enabled or not when it is created.","type":"boolean"}},"example":{"name":"Create Alert","actionType":"create-alert","criteria":{"type":"match-all"},"steps":[{"id":"0hcb717e-c442-4185-8bc1-cc998844f567","sendAfter":0,"contact":{"method":"email","to":"test@atlassian.com"},"enabled":true}],"enabled":true}},"NotificationRulesTimeOfDayTimeRestrictionInterval":{"required":["type","restriction"],"type":"object","properties":{"type":{"description":"This parameter should be set **time-of-day** (day-based).","type":"string","discriminator":{"propertyName":"type"}},"restriction":{"$ref":"#/components/schemas/NotificationRulesDayTimeRestriction"}}},"NotificationRulesMatchAllAnyConditionsFilter":{"required":["type","conditions"],"type":"object","properties":{"type":{"description":"Type of the operation will be applied on conditions.","type":"string","enum":["match-any-condition","match-all-conditions"],"discriminator":{"propertyName":"type"}},"conditions":{"description":"List of conditions will be checked before applying team routing rule.","minItems":1,"type":"array","items":{"$ref":"#/components/schemas/NotificationRulesCondition"}}}},"NotificationRulesCondition":{"required":["field","operation"],"type":"object","properties":{"field":{"description":"Specifies which alert field will be used in condition.","type":"string","enum":["message","alias","description","source","entity","tags","actions","extra-properties","priority","details","responders"]},"key":{"description":"If field is set as extra-properties, key could be used for key-value pair.","type":"string"},"not":{"description":"Indicates behaviour of the given operation.","type":"boolean","default":false},"operation":{"description":"It is the operation that will be executed for the given field and key.\nAvailable operations changes according to the fields type: \n- String Operations: contains, equals, starts-with, ends-with, matches, is-empty, equals-ignore-whitespace \n- List Operations: contains, is-empty \n- Map Operations: contains, contains-key, contains-value, is-empty \n- Number Operations: matches, equals, greater-than, less-than \n- Boolean Operations: equals","type":"string","enum":["matches","contains","starts-with","ends-with","equals","contains-key","contains-value","greater-than","less-than","is-empty","equals-ignore-whitespace"]},"expectedValue":{"description":"User defined value that will be compared with alert field according to the operation. Default value is empty string.","type":"string"},"order":{"description":"Order of the condition in conditions list.","type":"integer","format":"int32"}}},"NotificationRulesCreateNotificationRuleStepRequest":{"required":["contact","enabled"],"type":"object","properties":{"contact":{"$ref":"#/components/schemas/NotificationRulesContact"},"sendAfter":{"description":"Time period when notification will be sent after in minutes.","type":"integer","format":"int64","minimum":0},"enabled":{"description":"Specifies whether given step will be enabled or not when it is created.","type":"boolean"}}},"NotificationRulesNotificationRuleStep":{"type":"object","properties":{"id":{"description":"Id of the notification rule step.","type":"string"},"sendAfter":{"description":"Time period when notification will be sent after in minutes.","type":"integer","format":"int64","minimum":0},"contact":{"$ref":"#/components/schemas/NotificationRulesContact"},"enabled":{"description":"Specifies whether given step will be enabled or not when it is created.","type":"boolean"}}},"NotificationRulesMatchAllFilter":{"required":["type"],"type":"object","properties":{"type":{"description":"Type of the operation will be applied on conditions.","type":"string","enum":["match-all"],"discriminator":{"propertyName":"type"}}}},"NotificationRuleResponse":{"type":"object","properties":{"id":{"description":"Identifier of the notification rule.","type":"string"},"name":{"description":"Name of the notification rule.","type":"string"},"actionType":{"description":"Type of the action that notification rule will have.","type":"string","enum":["create-alert","acknowledged-alert","closed-alert","assigned-alert","add-note","schedule-start","schedule-end","incoming-call-routing"]},"criteria":{"description":"Defines the conditions that will be checked before applying notification rule and type of the operations that will be applied on conditions. Default value is matching all notification rules.","oneOf":[{"$ref":"#/components/schemas/NotificationRulesMatchAllAnyConditionsFilter"},{"$ref":"#/components/schemas/NotificationRulesMatchAllFilter"}]},"notificationTime":{"description":"List of Time Periods that notification for schedule start/end will be sent. If actionType is **scheduleStart** or **scheduleEnd**, notificationTime is mandatory.","type":"array","items":{"type":"string","enum":["just-before","15-minutes-ago","1-hour-ago","1-day-ago"]}},"timeRestriction":{"description":"Time interval that notification rule will work. It can be just one restriction which will be applied all days, or list of restrictions will be applied to the specified days.","oneOf":[{"$ref":"#/components/schemas/NotificationRulesTimeOfDayTimeRestrictionInterval"},{"$ref":"#/components/schemas/NotificationRulesWeekdayTimeRestrictionInterval"}]},"schedules":{"description":"This field is valid for Schedule Start/End rules. It can be list of schedule IDs that notification rule will be applied when on call of that schedule starts/ends. This field shall only be populated with the specified users' schedules.","type":"array","items":{"type":"string"}},"order":{"description":"The order of the notification rule within the notification rules with the same action type. Order value is actually the index of the notification rule whose minimum value is 0 and whose maximum value is n-1 (number of notification rules with the same action type is n).","type":"integer","format":"int32"},"steps":{"description":"List of steps that will be added to notification rule.","type":"array","items":{"$ref":"#/components/schemas/NotificationRulesNotificationRuleStep"}},"repeat":{"$ref":"#/components/schemas/NotificationRuleRepeat"},"enabled":{"description":"If notification rule will be enabled or no
[...]
